<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Favicon -->
  {#  {% cache globally using key 'favicon' %}#}
  {#    {% set favicon = global.favicon.one() %}#}
  {#    {% if favicon|length %}#}
  {#      <link rel="shortcut icon" href="{{ favicon.getUrl() }}" type="image/x-icon" />#}
  {#    {% endif %}#}
  {#  {% endcache %}#}
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
</head>
<body>
<div class="overflow-hidden">
  {#  {% cache using key 'header' ~ entry.id %}#}
  {#    {% include 'layout/_partials/header/_index' %}#}
  {#  {% endcache %}#}


  <main>


    {% block content %}
      You can't see me!
    {% endblock %}

  </main>

  {#  {% cache globally using key 'footer' %}#}
  {#    {% include 'layout/_partials/footer/_index' %}#}
  {#  {% endcache %}#}
</div>
</body>
</html>